  <footer>
      </article>
	    <a href= "https://github.com/siditysyd">Github</a> | <a href= "https://github.com/siditysyd/WEB115"> WEB115.io </a>| <a href= "https://www.freecodecamp.org/SereneSydnee">freeCodeCamp</a> |
	    <a href= "https://www.codecademy.com/profiles/SereneSydnee">Codecademy </a> | <a href= "https://jsfiddle.net/u/SereneSydnee/fiddles/">JSFiddle </a> | <a href="https://www.linkedin.com/in/sydnee-verbal/">LinkedIn </a>
      <p>Website Designed By Sneaky Viper Studios</p>
  </footer>
