 <header>
    <div id="header">
	<h1>Sydnee Verbal's Sneaky Viper Studio | Web 115</h1>
      </div>
      <nav>
	<div>
          <a href="index.html">Home</a> | <a href="introduction.html">Introduction</a> | <a href="contract.html">Contract</a> | <a href="brand.html">Brand</a> | <a href="fizzbuzz0.html">Fizz Buzz 0</a>
          |  <a href="fizzbuzz1.html">Fizz Buzz 1</a> |  <a href="fizzbuzz2.html">Fizz Buzz 2</a> | <a href="fccfsjs_outline.html">JavaScript Outline</a>
	</div>
      </nav>
  </header>
