/* General setup */

/* Link styles */
a {
	color: #950909;
    text-decoration: none;
}
a:visited {
	color: #d25c08dc;
}
a:active {
	color: #225403;
}
a:hover {
	color: #001ee3;
    text-decoration: underline;
}
a:focus {
	outline: thin dotted;
}
html, body {
/* Increase font size for desktop */
	font-size: 15px;
}
html {
/* Set background color for desktop */
    background: url("../images/backgroundimage.png");
    margin: 0 auto;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;	
}
/* Center brand info in header */
.brand-info {
	margin-left: auto;
	margin-right: auto;
	padding: 15px; 
}
/* Header styles */
header{
	font-family: 'Archivo Black', sans-serif; 
    text-align: center;
    color: #920262;
    font-size: 1em;
	text-align: center; 
	margin: 0 auto;
    border: 10px solid #FFF;
    padding: 10px;
}
/* Title styles */
h1 { 
	color: #920262;
    text-shadow: 2px 0px 2px black;
}
h2 {
	color: #046362;
}
h3 {
    text-align: center;
}
/* Paragraph styles */
p {
    font-family: 'Archivo Black', sans-serif;
    color: #582466;
    padding: 20px;
    text-align: left;
    margin: 0 25px;
}
/* Body styles */
body:not(.output) {
    width: 90%;	
    max-width: 1250px;
    background-color: #C2C2C2;
    font-family: 'Archivo Black', sans-serif;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}
/* Center image on Introduction page */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Center brand image */
.brand-viper {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Form and output styles */
.name-form {
	color: white; 
	border: 3px solid transparent;
	text-align: left;
    margin: 0 auto;
    padding: 20px;
}
.output {
    border: 3px solid transparent;
	text-align: center;
    margin: 0 auto;
    padding: 20px;
}
#middle-initial {
    width: 50px;
}
#first-name, #last-name {
    width: 200px;
}
/* Navigation styles */
nav ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    margin: 0;
}

nav li {
    font-family: 'Archivo Black', sans-serif;
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    font-size: 2em;
}
nav { 
    padding: 20px;
    text-align: center; 
}
ul li{
    list-style-type: square;
    margin: 0;
    padding: 5px;
    text-align: left;
    color: #063E51;

}
.classes-list {
    color: #327906;
    font-size: 1.1em;
    text-decoration: underline;
}
.quote {
    font-style: italic;
    color: #4F2203;
    text-align: center;
}
/* Footer styles */
footer {
    font-family: 'Archivo Black', sans-serif;
    padding: 20px;
    text-align: center; 
    margin-top: 10vh;
}
footer a {
	font-size: 1em;
	text-align: center; 
	margin: 0 10px;
}
footer p {
    font-size: 1.2em;
    color: #920262;
    text-shadow: 1px 0px 1px black;
    margin: 0;
    text-align: center;
}
/* Color classes */
.dark {
    color: #582466;
    text-shadow: .5px 0px .5px black;
}
.magenta {
    color: #920262;
}
.cyan {
    color: #045351;
}
.red {
    color: #950909;
}
.blue {
    color: #001ee3;
}
.green {
    color: #225403;
}
#settings {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    border: 3px solid transparent;
}
#divisor1, #divisor2, #divisor3, #total-count {
    width: 100px;
}
#word1, #word2, #word3 {
    width: 150px;
}