/* General setup */

html, body {
/* Increase font size for desktop */
	font-size: 15px;
	font-family: 'Archivo Black', sans-serif;
	color: #C7C804;
    margin: 0 auto;
    padding: 0;
}

/* Header Layout */
header div {
    display: flex;
    align-items: auto;  /* Vertically align logo and nav */
    justify-content: space-between; /* Space between logo and nav */
}

/* Logo Image */
header img {
	align-items: left;
	width: 25px;
	height: 50px;
}
	
h1 { 
	margin: 0 auto; 
	text-align: center;
}
	
h2 {
	color: #046362;
	text-align: center;
}
p {
	font-family: 'Archivo Black', sans-serif;
	color: #AD56C3;
}	
body {
	background-image: url("../images/backgroundimage.png");
	opacity: 0.5;
    width: 90%;	
    max-width: 1250px;
    font-family: 'Archivo Black', sans-serif;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}
main {
	display: block;
	line-height: 1.5;
	background-color: #A9A9A9;
	font-size: 100%;
	padding: 1px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;	
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 0;
}
nav li {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    margin: 0 15px;
    font-size: 1em;
}
nav { 
    padding: 5px;
    text-align: center; 
}
.viper {
	display: block;
	align-item: center;
	margin: auto;
	width: 50%;

}
a {
	color: #74B0BF;
}
a:visited {
	color: #c7c804;
}
a:hover {
	color: #FE696E;
}
a:focus {
	outline: thin dotted;
	color: #F8C954;
}
h3, h4, h5, h6 {
	text-align: center;
}
footer {
/* Footer styles */
	font-family: 'Archivo Black', sans-serif;
    	padding: 10px;
    	text-align: center; 
	margin-top: 350px;
}
footer a {
	font-size: 1em;
	text-align: center; 
	margin: 0 10px;
}












