/* General setup */

html, body {
/* Increase font size for desktop */
	font-size: 20px;
}
html {
/* Set background color for desktop */
    background: url("../images/backgroundimage.png");
    margin: 0 auto;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;	
}
.brand-info {
	margin-left: auto;
	margin-right: auto;
	padding: 15px; 
}
header {
	font-family: 'Archivo Black', sans-serif;
	color: #FF6ECF; 
	text-shadow: 0px 0px 0px black; 
}
h1 { 
	margin: 0 auto;
	color: #d90076;
}
h2 {
	color: #046362;
	text-shadow: 0px 0px 0px black;
}
p {
    font-family: 'Archivo Black', sans-serif;
    color: #AD56C3;
    text-shadow: 0px 0px 0px black; 
}	
body:not(.output) {
    width: 90%;	
    max-width: 1250px;
    background-color: #A9A9A9;
    font-family: 'Archivo Black', sans-serif;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;	
}
.form_name, .output {
	color: white; 
	border: 3px solid transparent;
	text-align: left;
	
	
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 0;
}
nav li {
	font-family: 'Archivo Black', sans-serif;
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    margin: 0 15px;
    font-size: 1em;
    color: #FE696E;
    text-shadow: 0px 0px 0px black; 
}
nav { 
    padding: 5px;
    text-align: center; 
}
a{
	color: #0B6380;
}
a:visited {
	color: #C7C804;
}
a:hover {
	color: #FE696E;
}
a:focus {
	outline: thin dotted;
}
h3, h4, h5, h6 {
	text-align: center;
}
footer {
/* Footer styles */
	font-family: 'Archivo Black';
    	padding: 10px;
    	text-align: center; 
	margin-top: 350px;
}
footer a {
	font-size: 1em;
	text-align: center; 
	margin: 0 10px;
}













